.selected {
    -fx-opacity: 0.5;
}

.windowchoicebackground{
    -fx-background-image: url("background-window-choice.jpg");
    -fx-background-position: center;
    -fx-background-size: cover;
    -fx-opacity: 0.7;
}
.matchbackground{
    -fx-background-image: url("background.jpg");
}

.windowtochoose{
	-fx-effect: dropshadow(three-pass-box, rgba(47,79,146,0.7), 10, -10, -10, 10);
}


.textwindowchoice{
    -fx-font-size: 40 px;

}